api-products/node_modules
api-orchestrator/app/node_modules
api-orders/app/node_modules
api-orders/app/entrypoint.sh
.env
mysql-data/#innodb_temp
mysql-data/mysql
mysql-data/performance_schema
mysql-data/products
mysql-data/sys
mysql-data/auto.cnf
mysql-data/binlog.000001
mysql-data/binlog.000002
mysql-data/binlog.000003
mysql-data/binlog.000004
mysql-data/binlog.000005
mysql-data/binlog.000006
mysql-data/binlog.000007
mysql-data/binlog.000008
mysql-data/binlog.000009
mysql-data/binlog.000010
mysql-data/binlog.000011
mysql-data/binlog.index
mysql-data/ca-key.pem
mysql-data/ca.pem
mysql-data/client-cert.pem
mysql-data/client-key.pem
mysql-data/ib_buffer_pool
mysql-data/ib_logfile0
mysql-data/ib_logfile1
mysql-data/ibdata1
mysql-data/ibtmp1
mysql-data/mysql.ibd
mysql-data/private_key.pem
mysql-data/public_key.pem
mysql-data/server-cert.pem
mysql-data/server-key.pem
mysql-data/undo_001
mysql-data/undo_002
postgres-data/base
postgres-data/global
postgres-data/pg_commit_ts
postgres-data/pg_dynshmem
postgres-data/pg_logical
postgres-data/pg_multixact
postgres-data/pg_notify
postgres-data/pg_replslot
postgres-data/pg_serial
postgres-data/pg_snapshots
postgres-data/pg_stat
postgres-data/pg_stat_tmp
postgres-data/pg_subtrans
postgres-data/pg_tblspc
postgres-data/pg_twophase
postgres-data/pg_wal
postgres-data/pg_xact
postgres-data/pg_hba.conf
postgres-data/pg_ident.conf
postgres-data/PG_VERSION
postgres-data/postgresql.auto.conf
postgres-data/postgresql.conf
postgres-data/postmaster.opts
postgres-data/postmaster.pid